$main-color: #EDF1FB;
$second-color: #1A1D30;
$third-color: #F65606;

$background-color: #E5EBFF;
$background-color-alt: #F4F5FC;
$box-color: #FFDF53;
$block-color-two: #BF6FE1;

$border-top-color: #DEE1E9;

$color-text-light: #CCCCCC;

$dark-color: #000000;
$light-color: #ffffff;